<% layout("/layouts/boilerplate") %>
<body>
     <div id="filters">
        <a href="/listings" class="filter <%= typeof selectedCategory !== 'undefined' && selectedCategory === 'All' ? 'active' : '' %>">
            <div><i class="fa-solid fa-globe"></i></i></div>
            <p>All</p>
        </a>
         <a href="/listings?category=Beach" class="filter <%= typeof selectedCategory !== 'undefined' && selectedCategory === 'Beach' ? 'active' : '' %>">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach</p>
        </a>
        <a href="/listings?category=Pools" class="filter <%= typeof selectedCategory !== 'undefined' && selectedCategory === 'Pools' ? 'active' : '' %>">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Pools</p>
        </a>
         <a href="/listings?category=Mountains" class="filter <%= typeof selectedCategory !== 'undefined' && selectedCategory === 'Mountains' ? 'active' : '' %>">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </a>
        <a href="/listings?category=Cities" class="filter <%= typeof selectedCategory !== 'undefined' && selectedCategory === 'Cities' ? 'active' : '' %>">
            <div><i class="fa-solid fa-city"></i></div>
            <p>Cities</p>
        </a>
          <a href="/listings?category=Camping" class="filter <%= typeof selectedCategory !== 'undefined' && selectedCategory === 'Camping' ? 'active' : '' %>">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </a>
         <a href="/listings?category=Farms" class="filter <%= typeof selectedCategory !== 'undefined' && selectedCategory === 'Farms' ? 'active' : '' %>">
            <div><i class="fa-solid fa-tractor"></i></div>
            <p>Farms</p>
        </a>
        <a href="/listings?category=Arctic" class="filter <%= typeof selectedCategory !== 'undefined' && selectedCategory === 'Arctic' ? 'active' : '' %>">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </a>
        <a href="/listings?category=Deserts" class="filter <%= typeof selectedCategory !== 'undefined' && selectedCategory === 'Deserts' ? 'active' : '' %>">
            <div><i class="fa-solid fa-sun"></i></div>
            <p>Deserts</p>
        </a>
        <a href="/listings?category=Lakes" class="filter <%= typeof selectedCategory !== 'undefined' && selectedCategory === 'Lakes' ? 'active' : '' %>">
            <div><i class="fa-solid fa-water"></i></div>
            <p>Lakes</p>
        </a>
        <a href="/listings?category=Historical" class="filter <%= typeof selectedCategory !== 'undefined' && selectedCategory === 'Historical' ? 'active' : '' %>">
            <div><i class="fa-solid fa-landmark"></i></div>
            <p>Historical</p>
        </a>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display Total after Taxes</label>
            </div>
        </div>
        
     </div>

   
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for (let listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="card-link">
                <div class="card listing-card col">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= listing.title %> </b><br>
                            &#8377 <%= listing.price.toLocaleString("en-IN") %> / night
                            <i class="tax-info">&nbsp;+&nbsp;18% GST</i>
                        </p>
                    </div>
                </div>
            </a>
    <% } %>
    </div>
    <script src="/js/displaytaxes.js"></script>
</body>





