<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Listing Details</h3>
    <ul>
        <li>Title:</strong> <%= listing.title %></li>
        <li>Description: <%= listing.description %></li>
        <li>Price: &#x20B9 <%= listing.price.toLocaleString("en-IN") %></li>
        <li>Location: <%= listing.location %></li>
    </ul>
    <a href="/listings/<%= listing._id %>/edit">Edit this Listing</a>
    <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button>Delete this listing</button>
    </form>
</body>
</html>